*
{
  margin: 0px;
  padding: 0px;
}

body
{
background-image: url(https://static01.nyt.com/images/2016/01/12/arts/music/20160112_BOWIE_HP-slide-DMXR/20160112_BOWIE_HP-slide-DMXR-videoSixteenByNine3000-v2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
}

div#vacio
{
  width: 100%;
  height: 600px;
}

div#contenedor
{
  width: 100%;
  width: 1000;
  background-color: grey;
}

div#body
{
  margin: auto;
  width: 1060px;
  height: 1100px;
  background-color: #073763;

}

div#menu
{
width: 100%;
height: 100px;
background-color: #073763;

}

p#menu2
{
   font-family: "Times New Roman";
   font-size: 45px;
   color: white;
}

p#texto1
{
   font-family: "Arial";
   font-size: 30px;
   color: white;
}

table#tabla
{
  text-align: center;
  margin: auto;
}

th#texto22
{
  font-family: "Arial";
  font-size: 25px;
   color: white;
}

p#fo
{
  font-family: "Arial";
  font-size: 18px;
  color: white;
}

p#fi
  {
    font-family: "Arial";
    font-size: small;
    color: white;
  }
